<style>
    .espaco{
        padding: 20px;
        text-align: center;
    }
    .lista{
        text-align: left;
    }
    .slide{
        margin: 20px;
    }.info{
        text-align: center;
        display: grid;
        justify-content: center;
    }
    .card{
        max-width: 400px;
        margin: 20px auto;
    }
</style>

<div class="container-fluid espaco">
    <h1 class="titulo">Minha biblioteca</h1>
    <p class="desc-titulo">Os livros que estão no seu acervo pessoal, você encontra aqui!</p>

    <div class="lista">
        <p>Total de obras já traduzidas: (<%= obras.length %> obras)</p>

    <% for (let contador = 0; contador < obras.length; contador++) { %>
        <h2>
            <%= obras[contador].titulo %>
        </h2>
        <p>
            <i> Id: <%= obras[contador].id %> </i>
        </p>
        <p>
            <b>Autor:</b> <%= obras[contador].autor %>
        </p>
        <p>
            <b>Editora:</b> <%= obras[contador].editora %>
        </p>
        <p>
            <b>Ano:</b> <%= obras[contador].ano %>
        </p>
        <p>
            <b>Prefácio:</b> <%= obras[contador].prefacio %>
        </p>
        <p>
            <a href="/leitura?id=<%= obras[contador].id %>" class="btn btn-primary">Ler</a>
            <a href="/editar?id=<%= obras[contador].id %>" class="btn btn-secondary">Editar</a>
        </p>
        <hr />
    <% } %>
    </div>
</div>

<div class="info">
    <h2> Notícias sobre acessibilidades nas IES (Instituto de Ensino Superior)</h2>
    <div class="row">
        <div class="col-sm-6 mb-3 mb-sm-0">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Projeto torna obrigatórias impressoras em braile em instituições, universidades e entidades públicas</h5>
              <p class="card-text">
                O Projeto de Lei 3690/23 propõe obrigar o poder público a fornecer impressoras Braille em universidades, instituições e entidades públicas, com treinamento para uso. Com 18,6 milhões de pessoas com deficiência visual no Brasil, a deputada Alessandra Haber aponta a escassez de conteúdo acessível como um desafio, agravado pelo alto custo das impressoras (R$ 30 mil a R$ 200 mil). A medida visa ampliar a inclusão no desenvolvimento intelectual e está em análise na Câmara dos Deputados.
              </p>
              <p class="card-text"><small class="text-body-secondary">Fonte: Agência Câmara de Notícias</small></p>
              <a href="https://www.camara.leg.br/noticias/1034196-projeto-torna-obrigatorias-impressoras-em-braile-em-instituicoes-universidades-e-entidades-publicas/" class="btn btn-primary">Veja a notícia</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
                <h5 class="card-title">Obrigatoriedade de impressoras em braile em bibliotecas e escolas avança na Câmara</h5>
                <p class="card-text">
                    A Comissão de Defesa dos Direitos das Pessoas com Deficiência da Câmara aprovou um projeto de lei que torna obrigatória a disponibilização de impressoras Braille em bibliotecas públicas e instituições de ensino. Além disso, prevê o treinamento de funcionários para operarem esses equipamentos, promovendo acessibilidade e inclusão para mais de 6,5 milhões de brasileiros com deficiência visual severa, segundo o IBGE. A proposta seguirá para análise das comissões de Finanças e Tributação e de Constituição e Justiça.
                </p>
                <p class="card-text"><small class="text-body-secondary">Fonte: CNN Brasil</small></p>
                <a href="#" class="btn btn-primary"> Veja a notícia</a>
            </div>
          </div>
        </div>
    </div>
</div>